html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  color-scheme: light dark;
  background: Canvas;
  color: CanvasText;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
