server {

    # Allow These names in URL
    server_name stg.avje.in;

    # Generate nonce
    set $cspNonce $request_id;

    # Shared Header Variable (to avoid repetition)
    set $csp "default-src 'self'; script-src 'self'; style-src 'self' 'nonce-$cspNonce'; img-src 'self' data:; font-src 'self' 'nonce-$cspNonce'; frame-ancestors 'self'; base-uri 'self'; form-action 'self';";

    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header Content-Security-Policy $csp always;

    location /assets/ {
        # Docker: frontend-stg → host :5001 → container :3000
        proxy_pass http://127.0.0.1:5001;

        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        expires 30d;
        add_header Cache-Control "public, no-transform";
        add_header Content-Security-Policy $csp always;
        add_header X-Frame-Options "SAMEORIGIN" always;
    }

    location / {
        # Docker: frontend-stg → host :5001 → container :3000
        proxy_pass http://127.0.0.1:5001;

        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Replace the placeholder in the HTML with the Nginx $request_id
        sub_filter 'NONCE_PLACEHOLDER' $cspNonce;
        sub_filter_once off;
        sub_filter_types text/html;

        # Force the HTML to never cache so the nonce stays fresh
        add_header Cache-Control "no-store, no-cache, must-revalidate";
        add_header Content-Security-Policy $csp always;
        add_header X-Frame-Options "SAMEORIGIN" always;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/stg.avje.in/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/stg.avje.in/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
    
    if ($host = stg.avje.in) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    server_name stg.avje.in;


    listen 80;
    return 404; # managed by Certbot

}
